workflow-v2-fixed.json
{
  "id": "kezhuanzhai-daily-v2",
  "name": "可转债每日统计工作流-v2",
  "nodes": [
    {
      "id": "cron-trigger-1",
      "name": "Cron触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {"field": "cronExpression", "expression": "30 9 * * 1-5"}
          ]
        }
      }
    },
    {
      "id": "check-trade-day",
      "name": "检查交易日",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "http://47.84.177.254:5001/api/check-trade-day",
        "options": {"timeout": 60000}
      }
    },
    {
      "id": "if-trade-day",
      "name": "IF是交易日",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.is_trade_day }}",
              "operator": {"type": "boolean", "operation": "true", "singleValue": true},
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "no-trade-end",
      "name": "非交易日结束",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 500],
      "parameters": {}
    },
    {
      "id": "get-cb-list",
      "name": "获取可转债列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [850, 300],
      "parameters": {
        "method": "GET",
        "url": "http://47.84.177.254:5001/api/cb-list",
        "options": {"timeout": 120000}
      }
    },
    {
      "id": "get-stock-data",
      "name": "获取正股行情",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1050, 100],
      "parameters": {
        "method": "GET",
        "url": "http://47.84.177.254:5001/api/stock-data",
        "options": {"timeout": 300000}
      }
    },
    {
      "id": "get-controller",
      "name": "获取股东信息",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1050, 300],
      "parameters": {
        "method": "GET",
        "url": "http://47.84.177.254:5001/api/controller",
        "options": {"timeout": 120000}
      }
    },
    {
      "id": "get-finance",
      "name": "获取财务数据",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1050, 500],
      "parameters": {
        "method": "GET",
        "url": "http://47.84.177.254:5001/api/finance",
        "options": {"timeout": 120000}
      }
    },
    {
      "id": "merge-data",
      "name": "数据合并计算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cbResult = $input.all().find(n => n.json.cb_list !== undefined);\nconst cbData = cbResult ? cbResult.json : {};\nconst stockResult = $input.all().find(n => n.json.spot !== undefined);\nconst stockData = stockResult ? stockResult.json : {};\nconst ctrlResult = $input.all().find(n => n.json.controller_data !== undefined);\nconst ctrlData = ctrlResult ? ctrlResult.json : {};\nconst finResult = $input.all().find(n => n.json.finance_data !== undefined);\nconst finData = finResult ? finResult.json : {};\n\nconst cbList = cbData.cb_list || [];\nconst spotList = stockData.spot || [];\nconst maList = stockData.ma || [];\nconst ctrlList = ctrlData.controller_data || [];\nconst finList = finData.finance_data || [];\n\nconst spotMap = {};\nspotList.forEach(s => { spotMap[s['正股代码']] = s; });\nconst maMap = {};\nmaList.forEach(m => { maMap[m['正股代码']] = m; });\nconst ctrlMap = {};\nctrlList.forEach(c => { ctrlMap[c['正股代码']] = c; });\nconst finMap = {};\nfinList.forEach(f => { finMap[f['正股代码']] = f; });\n\nconst mergedData = cbList.slice(0, 100).map(cb => {\n  const stockCode = cb['正股代码'] || cb.stock_code;\n  const spot = spotMap[stockCode] || {};\n  const ma = maMap[stockCode] || {};\n  const ctrl = ctrlMap[stockCode] || {};\n  const fin = finMap[stockCode] || {};\n  \n  const currentPrice = parseFloat(spot['当前股价']) || 0;\n  const pb = parseFloat(spot['PB']) || 1;\n  const netAsset = pb ? (currentPrice / pb).toFixed(2) : '';\n  const convertPrice = parseFloat(cb['转股价格'] || cb.convert_price) || 0;\n  const strongRedeemPrice = convertPrice ? (convertPrice * 1.3).toFixed(2) : '';\n  const strongRedeemPct = currentPrice ? (((parseFloat(strongRedeemPrice) / currentPrice - 1) * 100).toFixed(1) + '%') : '';\n  const remainScale = parseFloat(cb['可转债剩余规模'] || cb.remaining_scale) || 0;\n  const expirePrice = 115;\n  const expireScale = (remainScale * expirePrice / 100).toFixed(2);\n  \n  const cashEnd = fin['期末现金余额'] || 0;\n  const moneyFund = fin['货币资金'] || 0;\n  const expireCashRatio = cashEnd ? (expireScale / cashEnd * 100).toFixed(0) + '%' : '';\n  const expireMoneyRatio = moneyFund ? (expireScale / moneyFund * 100).toFixed(0) + '%' : '';\n  \n  return {\n    '正股代码': stockCode,\n    '正股名称': cb['正股名称'] || cb.stock_name || '',\n    '大股东类型': ctrl['大股东类型'] || '',\n    '实际控制人': ctrl['实际控制人'] || '',\n    '实控人类型': ctrl['实控人类型'] || '',\n    '今日日期': new Date().toISOString().split('T')[0].replace(/-/g, '/'),\n    '当前股价': currentPrice || '',\n    '每股净资产': netAsset,\n    'PB': pb,\n    '期末现金余额': fin['期末现金余额'] || '',\n    '货币资金': fin['货币资金'] || '',\n    '转债代码': cb['转债代码'] || cb.bond_code || '',\n    '转债名称': cb['转债名称'] || cb.bond_name || '',\n    '可转债剩余规模': remainScale || '',\n    '到期赎回价': expirePrice,\n    '到期赎回规模': expireScale,\n    '赎回规模占期末现金比例': expireCashRatio,\n    '赎回规模占货币资金比例': expireMoneyRatio,\n    '转股价格': convertPrice || '',\n    '强赎价格': strongRedeemPrice,\n    '强赎涨幅': strongRedeemPct,\n    'MA5': ma['MA5'] || '',\n    'MA10': ma['MA10'] || '',\n    'MA20': ma['MA20'] || '',\n    '到期日期': cb['到期日期'] || cb.expire_date || '',\n    '剩余天数': cb['到期日期'] ? Math.floor((new Date(cb['到期日期']) - new Date()) / (1000 * 60 * 60 * 24)) : '',\n    '最近公告内容': ''\n  };\n});\n\nif (mergedData.length === 0) {\n  return [{ json: { csv_content: '暂无数据', count: 0, merged_data: [] } }];\n}\n\nconst headers = Object.keys(mergedData[0]);\nconst csvRows = [\n  headers.join(','),\n  ...mergedData.map(row => headers.map(h => {\n    const val = row[h] || '';\n    return String(val).indexOf(',') > -1 ? ('\"' + val + '\"') : val;\n  }).join(','))\n];\nconst csvContent = csvRows.join('\\n');\n\nreturn [{ json: { csv_content: csvContent, count: mergedData.length, merged_data: mergedData } }];"
      }
    },
    {
      "id": "prepare-output",
      "name": "生成输出数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const csvContent = $input.first().json.csv_content;\nconst count = $input.first().json.count;\nconst mergedData = $input.first().json.merged_data;\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    csv_content: csvContent,\n    count: count,\n    merged_data: mergedData,\n    date: today\n  }\n}];"
      }
    },
    {
      "id": "http-push",
      "name": "HTTP推送前端",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1650, 300],
      "parameters": {
        "method": "POST",
        "url": "http://47.84.177.254:3000/api/cb-data",
        "body": {
          "contentType": "multipartFormData",
          "multipartBody": [
            {"name": "data", "value": "={{ JSON.stringify($json.merged_data) }}"},
            {"name": "csv", "value": "={{ $json.csv_content }}"},
            {"name": "count", "value": "={{ $json.count }}"},
            {"name": "date", "value": "={{ $json.date }}"}
          ]
        },
        "options": {"timeout": 30000}
      }
    }
  ],
  "connections": {
    "Cron触发": {
      "main": [[{"node": "检查交易日", "type": "main", "index": 0}]]
    },
    "检查交易日": {
      "main": [[{"node": "IF是交易日", "type": "main", "index": 0}]]
    },
    "IF是交易日": {
      "main": [
        [{"node": "获取可转债列表", "type": "main", "index": 0}],
        [{"node": "非交易日结束", "type": "main", "index": 0}]
      ]
    },
    "获取可转债列表": {
      "main": [[
        {"node": "获取正股行情", "type": "main", "index": 0},
        {"node": "获取股东信息", "type": "main", "index": 0},
        {"node": "获取财务数据", "type": "main", "index": 0}
      ]]
    },
    "获取正股行情": {
      "main": [[{"node": "数据合并计算", "type": "main", "index": 0}]]
    },
    "获取股东信息": {
      "main": [[{"node": "数据合并计算", "type": "main", "index": 0}]]
    },
    "获取财务数据": {
      "main": [[{"node": "数据合并计算", "type": "main", "index": 0}]]
    },
    "数据合并计算": {
      "main": [[{"node": "生成输出数据", "type": "main", "index": 0}]]
    },
    "生成输出数据": {
      "main": [[{"node": "HTTP推送前端", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 600,
    "timezone": "Asia/Shanghai"
  }
}