n8n_scripts/可转债工作流.json
{
  "name": "可转债每日统计工作流",
  "nodes": [
    {
      "id": "cron-trigger-1",
      "name": "Cron触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {"field": "weekday", "operation": "equals", "value": "1,2,3,4,5"},
            {"field": "hour", "operation": "equals", "value": "9"},
            {"field": "minute", "operation": "equals", "value": "30"}
          ]
        }
      }
    },
    {
      "id": "check-trade-cmd",
      "name": "判断交易日Cmd",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "command": "python3 /home/node/.n8n/scripts/check_trade_day.py"
      }
    },
    {
      "id": "if-trade-day",
      "name": "IF是交易日",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.is_trade_day }}",
              "operator": {"type": "boolean", "operation": "true", "singleValue": true},
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "no-trade-end",
      "name": "非交易日结束",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "id": "get-cb-list",
      "name": "获取可转债列表",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "command": "python3 /home/node/.n8n/scripts/get_cb_list.py"
      }
    },
    {
      "id": "get-stock-data",
      "name": "获取正股行情与均线",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 100],
      "parameters": {
        "command": "python3 /home/node/.n8n/scripts/get_stock_data.py"
      }
    },
    {
      "id": "get-controller",
      "name": "获取股东与实控人",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "command": "python3 /home/node/.n8n/scripts/get_controller.py"
      }
    },
    {
      "id": "get-finance",
      "name": "获取财务数据",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 500],
      "parameters": {
        "command": "python3 /home/node/.n8n/scripts/get_finance.py"
      }
    },
    {
      "id": "merge-data",
      "name": "数据合并与计算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 从多个输入节点获取数据\nconst cbResult = $input.all().find(n => n.json.cb_list !== undefined)?.json || {};\nconst stockResult = $input.all().find(n => n.json.spot !== undefined)?.json || {};\nconst ctrlResult = $input.all().find(n => n.json.controller_data !== undefined)?.json || {};\nconst finResult = $input.all().find(n => n.json.finance_data !== undefined)?.json || {};\n\nconst cbList = cbResult.cb_list || [];\nconst spotList = stockResult.spot || [];\nconst maList = stockResult.ma || [];\nconst ctrlList = ctrlResult.controller_data || [];\nconst finList = finResult.finance_data || [];\n\n// 转换为Map便于查找\nconst spotMap = Object.fromEntries(spotList.map(s => [s.正股代码, s]));\nconst maMap = Object.fromEntries(maList.map(m => [m.正股代码, m]));\nconst ctrlMap = Object.fromEntries(ctrlList.map(c => [c.正股代码, c]));\nconst finMap = Object.fromEntries(finList.map(f => [f.正股代码, f]));\n\n// 合并数据\nconst mergedData = cbList.slice(0, 50).map(cb => {\n  const stockCode = cb.正股代码 || cb.stock_code;\n  const spot = spotMap[stockCode] || {};\n  const ma = maMap[stockCode] || {};\n  const ctrl = ctrlMap[stockCode] || {};\n  const fin = finMap[stockCode] || {};\n  \n  const currentPrice = parseFloat(spot.当前股价) || 0;\n  const netAsset = parseFloat(spot.每股净资产) || 1;\n  const pb = currentPrice ? (currentPrice / netAsset).toFixed(2) : '';\n  const convertPrice = parseFloat(cb.转股价格 || cb.convert_price) || 0;\n  const strongRedeemPrice = convertPrice ? (convertPrice * 1.3).toFixed(2) : '';\n  const strongRedeemPct = currentPrice ? (((parseFloat(strongRedeemPrice) / currentPrice - 1) * 100).toFixed(1) + '%') : '';\n  const remainScale = parseFloat(cb.可转债剩余规模 || cb.remaining_scale) || 0;\n  const expirePrice = 115;\n  const expireScale = (remainScale * expirePrice / 100).toFixed(2);\n  \n  const cashEnd = fin.期末现金余额 || 0;\n  const moneyFund = fin.货币资金 || 0;\n  const expireCashRatio = cashEnd ? (expireScale / cashEnd * 100).toFixed(0) + '%' : '';\n  const expireMoneyRatio = moneyFund ? (expireScale / moneyFund * 100).toFixed(0) + '%' : '';\n  \n  return {\n    正股代码: stockCode,\n    正股名称: cb.正股名称 || cb.stock_name || '',\n    大股东类型: ctrl.大股东类型 || '',\n    实际控制人: ctrl.实际控制人 || '',\n    实控人类型: ctrl.实控人类型 || '',\n    今日日期: new Date().toISOString().split('T')[0].replace(/-/g, '/'),\n    当前股价: currentPrice || '',\n    每股净资产: spot.每股净资产 || '',\n    PB: pb,\n    期末现金余额: fin.期末现金余额 || '',\n    货币资金: fin.货币资金 || '',\n    转债代码: cb.转债代码 || cb.bond_code || '',\n    转债名称: cb.转债名称 || cb.bond_name || '',\n    可转债剩余规模: remainScale || '',\n    到期赎回价: expirePrice,\n    到期赎回规模: expireScale,\n    赎回规模占期末现金比例: expireCashRatio,\n    赎回规模占货币资金比例: expireMoneyRatio,\n    转股价格: convertPrice || '',\n    强赎价格: strongRedeemPrice,\n    强赎涨幅: strongRedeemPct,\n    MA5: ma.MA5 || '',\n    MA10: ma.MA10 || '',\n    MA20: ma.MA20 || '',\n    到期日期: cb.到期日期 || cb.expire_date || '',\n    剩余天数: cb.到期日期 ? Math.floor((new Date(cb.到期日期) - new Date()) / (1000 * 60 * 60 * 24)) : '',\n    最近公告内容: ''\n  };\n});\n\n// 生成CSV\nif (mergedData.length === 0) {\n  return [{ json: { csv_content: '暂无数据', count: 0, merged_data: [] } }];\n}\n\nconst headers = Object.keys(mergedData[0]);\nconst csvRows = [\n  headers.join(','),\n  ...mergedData.map(row => headers.map(h => {\n    const val = row[h] ?? '';\n    return String(val).includes(',') ? `\"${val}\"` : val;\n  }).join(','))\n];\nconst csvContent = csvRows.join('\\n');\n\nreturn [{ json: { csv_content: csvContent, count: mergedData.length, merged_data: mergedData } }];"
      }
    },
    {
      "id": "gen-attachment",
      "name": "生成邮件附件",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const csvContent = $input.first().json.csv_content;\nconst count = $input.first().json.count;\nconst today = new Date().toISOString().split('T')[0];\n\nconst base64 = Buffer.from(csvContent, 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    subject: `【可转债日报】${today} A股可转债统计（共${count}只）`,\n    text: `今日共统计 ${count} 只可转债，详见附件。\\n\\n数据来源：AkShare\\n生成时间：${new Date().toLocaleString('zh-CN')}`,\n    fileName: `可转债统计_${today}.csv`,\n    fileBase64: base64,\n    fileMimeType: 'text/csv'\n  }\n}];"
      }
    },
    {
      "id": "send-email",
      "name": "发送邮件",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1650, 300],
      "parameters": {
        "fromEmail": "your-email@qq.com",
        "toEmail": "recipient@example.com",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "html": "=<p>今日共统计 <strong>{{ $json.count }}</strong> 只可转债，详见附件。</p><p>数据来源：AkShare<br>生成时间：{{ new Date().toLocaleString('zh-CN') }}</p>",
        "attachments": [
          {
            "property": "={{ $json.fileBase64 }}",
            "name": "={{ $json.fileName }}",
            "mimeType": "={{ $json.fileMimeType }}"
          }
        ],
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "credentials": {
        "smtp": {
          "id": "your-smtp-credential-id",
          "name": "SMTP Credentials"
        }
      }
    }
  ],
  "connections": {
    "Cron触发": {
      "main": [[{"node": "判断交易日Cmd", "type": "main", "index": 0}]]
    },
    "判断交易日Cmd": {
      "main": [[{"node": "IF是交易日", "type": "main", "index": 0}]]
    },
    "IF是交易日": {
      "main": [
        [{"node": "获取可转债列表", "type": "main", "index": 0}],
        [{"node": "非交易日结束", "type": "main", "index": 0}]
      ]
    },
    "获取可转债列表": {
      "main": [[
        {"node": "获取正股行情与均线", "type": "main", "index": 0},
        {"node": "获取股东与实控人", "type": "main", "index": 0},
        {"node": "获取财务数据", "type": "main", "index": 0}
      ]]
    },
    "获取正股行情与均线": {
      "main": [[{"node": "数据合并与计算", "type": "main", "index": 0}]]
    },
    "获取股东与实控人": {
      "main": [[{"node": "数据合并与计算", "type": "main", "index": 0}]]
    },
    "获取财务数据": {
      "main": [[{"node": "数据合并与计算", "type": "main", "index": 0}]]
    },
    "数据合并与计算": {
      "main": [[{"node": "生成邮件附件", "type": "main", "index": 0}]]
    },
    "生成邮件附件": {
      "main": [[{"node": "发送邮件", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 600
  }
}
